@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONTS */
/* Amatic SC Bold */
@font-face {
  font-family: "Amatic SC";
  src: url("./fonts/Amatic SC/Bold/AmaticSC-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Inter Regular */
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter/Regular/Inter_18pt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter/Regular/Inter_24pt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter/Regular/Inter_28pt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Raleway Medium */
@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway/Medium/Raleway-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* COLORS --------------------------------------------------------------------------------------------------------------------------------- */
:root {
  --light: #ffffff;
  --black: #000000;
  --primary: #44ff34;
  --shadow: #99ff90;
  --secondary-light: #3f3f3f;
  --secondary-primary: #ececec;
  --gray: #d9d9d9;
}

/* TYPOGRAPHY --------------------------------------------------------------------------------------------------------------------------- */
h2.dark {
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-size: 70px;
  text-align: center;
  color: var(--black);
}
h2.light {
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-size: 70px;
  text-align: center;
  color: var(--light);
}
h3.dark {
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-size: 44px;
  color: var(--black);
}
h3.light {
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-size: 44px;
  color: var(--light);
}
h4.dark {
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: var(--black);
}
h4.light {
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: var(--light);
}

.block-subtitle-dark {
  font-weight: 300;
  font-size: 23px;
  text-align: center;
  color: var(--secondary-light);
}
.block-subtitle-light {
  font-weight: 300;
  font-size: 23px;
  text-align: center;
  color: var(--secondary-primary);
}
.block-secondary-text-primary {
  font-weight: 300;
  font-size: 18px;
  color: var(--secondary-primary);
}
.block-secondary-text-light {
  font-weight: 300;
  font-size: 18px;
  color: var(--secondary-light);
}

@media (max-width: 768px) {
  h2.dark {
    font-size: 50px;
  }
  h2.light {
    font-size: 50px;
  }
  h3.dark {
    font-size: 36px;
  }
  h3.light {
    font-size: 36px;
  }
  h4.dark {
    font-size: 28px;
  }
  h4.light {
    font-size: 28px;
  }
  .block-subtitle-dark {
    font-size: 20px;
  }
  .block-subtitle-light {
    font-size: 20px;
  }
  .block-secondary-text-primary {
    font-size: 16px;
  }
  .block-secondary-text-light {
    font-size: 16px;
  }
}
/* DEFAULT STYLES ------------------------------------------------------------------------------------------------------------------------- */
* {
  font-family: "inter", sans-serif;
  font-weight: 400;
}
.block-container {
  max-width: 1220px;
  padding: 60px 10px 60px 10px;
  margin: 0 auto;
}
html,
body {
  height: 100%;
}
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}
